<!DOCTYPE html>
<html>
<head>
<style> 
div {
  width: 10px;
  height: 10px;
  background: red;
  position: relative;
  animation: mymove infinite;
  animation-duration: 10s;
  font-size:1px;
  text-align:center;
}

@keyframes mymove {
  from {top: 0px; width:10px; height:10px;}
  to {top: 0px;width:10px; height:200px;}
  
  from {top: 0px; width:10px; height:200px;}
  to {top: 0px;width:600px; height:200px;font-size:20px; text-align:center;}
}

</style>
</head>
<body>

<h1>The animation-duration Property</h1>

<p>Specify that the animation should complete one cycle in 3 seconds:</p>

<div>animation</div>

<p><strong>Note:</strong> Always specify the animation-duration property. Otherwise the duration is 0, and the animation will not be played.</p>
<p><strong>Note:</strong> The animation-duration property is not supported in Internet Explorer 9 and earlier versions.</p>

</body>
</html>
