/* based on http://www.kylejlarson.com/blog/2011/how-to-create-pie-charts-with-css3/ */
/* Fork of http://codepen.io/paulobrien/pen/joptI/ */
html {
background-color: #eee;
background-image: linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc), 
linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc);
background-size:20px 20px;
background-position:0 0, 10px 10px
}
.pie-wrap {
	height: 100px;
	position:relative;
	margin:20px
}
.pie-wrap:before  {
	content:"";
	display:block;
	background-color:transparent;
	position: absolute;
	border-radius: 50%;
	width:100px;
	height:100px;
	top:0;
	left:0;
}
.slice-wrap:before {
	content:" ";
	position: absolute;
	width: 292px;
	height: 292px;
	border-radius: 146px;
  border: 2px solid rgba(107, 192, 47, .7);
  box-sizing: border-box;
	clip: rect(0px, 146px, 292px, 0px);
	background-color:rgba(107, 192, 47, .4);
	-webkit-transform:rotate(10deg);
	-moz-transform:rotate(10deg);
	-o-transform:rotate(10deg);
	-ms-transform:rotate(10deg);
	transform:rotate(10deg);
}
.slice-wrap {
	position: absolute;
	width: 292px;
	height: 292px;
	border-radius: 146px;
	clip: rect(0px, 292px, 292px, 146px);
}
.slice2.slice-wrap {
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	transform:rotate(180deg);
}
.slice1:before {
	-webkit-animation: 1s spin linear forwards;
	-moz-animation: 1s spin linear forwards;
	-o-animation: 1s spin linear forwards;
	-ms-animation: 1s spin linear forwards;
	animation: 1s spin linear forwards;
  
}
.slice2:before {
	-webkit-transform:rotate(0.00001deg);/* webkit seems buggy with zero*/
	-moz-transform:rotate(0.00001deg);
	-o-transform:rotate(0.00001deg);
	-ms-transform:rotate(0.00001deg);
	transform:rotate(0.00001deg);
	-webkit-animation: 1s spin2 linear 1s forwards;
	-moz-animation: 1s spin2 linear 1s forwards;
	-ms-animation: 1s spin2 linear 1s forwards;
	-o-animation: 1s spin2 linear 1s forwards;
	animation: 1s spin2 linear 1s forwards;

}
.pie-wrap2:after{display:none}

@keyframes spin {
 from {transform: rotate(10deg);}
to {transform: rotate(180deg);}
}
@keyframes spin2 {
	from {transform: rotate(0deg);}
	to {transform: rotate(144deg);}
}
